[submodule ".zsh/zle-syntax-highlighting"]
	path = .zsh/zle-syntax-highlighting
	url = git@jbuttery.github.bogus:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = git@jbuttery.github.bogus:jbuttery/zsh-git-prompt.git
